.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  text-align: center;
}

.hero h1 {
  font-size: 5rem;
  max-width: 100%;
}

#reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.checked {
  fill: orange;
}

article {
  background-color: #fffdf8;
  border: 0.2rem solid black;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  transition: box-shadow 0.3s, transform 0.2s;
  margin-bottom: 1rem;
}

article:hover {
  box-shadow: 0.313rem 0.313rem 0 black;
  transform: translateY(-3px);
}

@media (max-width: 48em) {
  .hero h1 {
    font-size: 2rem;
  }

  #reviews {
    display: block;
  }
}